*{
    box-sizing: border-box;
}

.formation,
.dvlpmt,
.exp_pro{
    /* border: 1px solid black; */
    display: grid;
    justify-items: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(224, 222, 222);
    font-size: large;
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
    margin-left: 4rem;
    margin-right: 4rem;
}

.dvlpmt a{
    color: inherit;
    text-decoration: none;
}